/* BOOTSTRAP OVERRIDES */

@font-face {
    font-family: 'Fira-Mono';
    src: url('../font/FiraMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: monospace;
}

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, system-ui, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sidebar-width: 275px;
    --titlebar-height: 30px;
    --accent-color: #FF7A27;
    --editor-scale: 1.0;
    --footer-height: 24px;
    --code-white-space: 'pre';
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, system-ui, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

blockquote {
    margin: 1rem 0 1rem;
}

table {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label {
    font-weight: 600;
}

code {
    color: #FF7B28;
    word-wrap: unset;
}

.form-control:focus {
    border-color: var(--accent-color);
    box-shadow: none;
}

.form-group {
    margin-bottom: 2rem;
}

/* Disable box shadows on a bunch of stuff */

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated .custom-control-input:valid:focus~.custom-control-label::before, .custom-control-input.is-valid:focus~.custom-control-label::before, .was-validated .custom-file-input:valid:focus~.custom-file-label, .custom-file-input.is-valid:focus~.custom-file-label, .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus, .was-validated .custom-control-input:invalid:focus~.custom-control-label::before, .custom-control-input.is-invalid:focus~.custom-control-label::before, .was-validated .custom-file-input:invalid:focus~.custom-file-label, .custom-file-input.is-invalid:focus~.custom-file-label, .btn:focus, .btn.focus, .btn-primary:focus, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-secondary:focus, .btn-secondary.focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary.dropdown-toggle:focus, .btn-success:focus, .btn-success.focus, .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show>.btn-success.dropdown-toggle:focus, .btn-info:focus, .btn-info.focus, .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show>.btn-info.dropdown-toggle:focus, .btn-warning:focus, .btn-warning.focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show>.btn-warning.dropdown-toggle:focus, .btn-danger:focus, .btn-danger.focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus, .show>.btn-danger.dropdown-toggle:focus, .btn-light:focus, .btn-light.focus, .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show>.btn-light.dropdown-toggle:focus, .btn-dark:focus, .btn-dark.focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show>.btn-dark.dropdown-toggle:focus, .btn-outline-primary:focus, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus, .btn-outline-secondary:focus, .btn-outline-secondary.focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus, .btn-outline-success:focus, .btn-outline-success.focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-success.dropdown-toggle:focus, .btn-outline-info:focus, .btn-outline-info.focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-info.dropdown-toggle:focus, .btn-outline-warning:focus, .btn-outline-warning.focus, .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-warning.dropdown-toggle:focus, .btn-outline-danger:focus, .btn-outline-danger.focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-danger.dropdown-toggle:focus, .btn-outline-light:focus, .btn-outline-light.focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-light.dropdown-toggle:focus, .btn-outline-dark:focus, .btn-outline-dark.focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-dark.dropdown-toggle:focus {
    box-shadow: none !important;
}

.fade {
    transition: opacity 0.15s ease;
}

.dropdown-menu {
    font-size: 14px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--accent-color);
}

.custom-control {
    margin-bottom: 7px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: unset;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: unset;
    border-color: unset;
}

.custom-select:focus, .custom-file-input:focus~.custom-file-label, .custom-range:focus::-webkit-slider-thumb, .custom-range:focus::-moz-range-thumb, .custom-range:focus::-ms-thumb, .page-link:focus, a.badge-primary:focus, a.badge-primary.focus, a.badge-secondary:focus, a.badge-secondary.focus, a.badge-success:focus, a.badge-success.focus, a.badge-info:focus, a.badge-info.focus, a.badge-warning:focus, a.badge-warning.focus, a.badge-danger:focus, a.badge-danger.focus, a.badge-light:focus, a.badge-light.focus, a.badge-dark:focus, a.badge-dark.focus {
    box-shadow: none !important;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    -webkit-transform: translate(0, 0px) !important;
    transform: translate(0, 0px) !important;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    padding: 0.5rem;
    border-top: none;
}

.tooltip-inner {
    max-width: 600px;
}

/* MY CUSTOM CSS */

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: -3px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    /* Custom to fit the footer: */
    /*top: var(--footer-height);
  bottom: var(--footer-height);*/
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0 0 0;
    /* Height of navbar */
    /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
    width: var(--sidebar-width);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - var(--titlebar-height));
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    transition: 0.1s background-color;
    max-width: var(--sidebar-width);
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
    transition: 0.1s color;
}

.sidebar .nav-link.active {
    color: white;
    background-color: var(--accent-color);
    z-index: 200;
    position: relative;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

a.titlebarBtn {
    background-color: inherit;
    color: white;
    padding: 0px 0px 0px 0px;
    width: 48px;
}

a.titlebarBtn:hover {
    background-color: #666666;
    color: white;
}

a.titlebarBtn:active {
    background-color: #8C8C8C;
    color: white;
}

.indent {
    padding-left: 35px;
}

.my-sidebar-item {
    width: 100%;
}

div.content {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 25px 25px 25px 25px;
    width: 800px;
    height: fit-content;
    background-color: #f8f9fa;
    display: block;
    font-size: 16px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    transform-origin: top center;
}

#editor {
    border: 0;
    width: 100%;
    height: 100%;
    white-space: break-spaces;
    /*white-space: pre-line;*/
    /*line-height: 16px;*/
    display: inline-block;
    tab-size: 4;
    margin-bottom: 0px;
    background-color: #f8f9fa;
}

#editor:focus {
    outline: 0;
}

#mainContainer {
    overflow: auto;
    margin-left: var(--sidebar-width);
    height: calc(100vh - var(--titlebar-height));
    width: 100%;
}

#editorRibbon {
    position: fixed;
    z-index: 90;
    top: 5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    justify-content: center;
    width: fit-content;
    left: var(--sidebar-width);
    right: 0;
    background-color: #FAFBFC;
    transition: opacity 0.1s ease;
    opacity: 0.75;
}

#editorRibbon:hover {
    opacity: 1;
}

.editorBody {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

.mybtn-primary {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 5px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 2px 0px #00000070;
}

.mybtn-primary:hover {
    background: linear-gradient(to bottom, #58A2F7 5%, #3477E2 100%);
    background-color: #58A2F7;
    color: white;
    text-decoration: none;
}

.mybtn-primary:active {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
    color: white;
    text-decoration: none;
}

.mybtn-primary:focus {
    outline: none;
    box-shadow: inset 0px 1px 0px 0px #97c4fe !important;
}

.mybtn-primary:disabled {
    box-shadow: inset 0px 1px 0px 0px #2381FD;
    background: linear-gradient(to bottom, #184EA5 5%, #0B71E6 100%);
    background-color: #184EA5;
    color: #dddddd;
    cursor: default;
}

.mybtn {
    box-shadow:inset 0px 1px 0px 0px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.06);
	background: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-color: #FFFFFF;
    border-radius: 5px;
    border:1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 1px #ffffff;
    border: 1px solid #cccccc;
    text-decoration: none;
}

.mybtn:hover {
    background: linear-gradient(to bottom, #ffffff 10%, #f0f0f0 100%);
	background-color: #FFFFFF;
    color: #444444;
    text-decoration: none;
}

.mybtn:active {
    background: linear-gradient(to bottom, #e6e6e6, #ffffff);
	background-color: #FFFFFF;
    color: #222222;
    text-decoration: none;
}

.mybtn:focus {
    box-shadow:inset 0px 1px 0px 0px #ffffff, 0 1px 2px rgba(0, 0, 0, 0.06) !important;
}

.mybtn:disabled {
    background: linear-gradient(to bottom, #e6e6e6, #ffffff);
    cursor: default;
}

/*.mybtn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #FCFCFC 5%, #e9e9e9 100%);
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #555555;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 2px 0px #00000005;
}

.mybtn:hover {
    background: linear-gradient(to bottom, #FFFFFF 5%, #EFEFEF 100%);
    background-color: #EFEFEF;
    color: #555555;
    text-decoration: none;
}

.mybtn:active {
    background: linear-gradient(to bottom, #e9e9e9 5%, #FCFCFC 100%);
    background-color: #e9e9e9;
    color: #555555;
    text-decoration: none;
}*/

.mybtn:focus {
    outline: none;
}

.mybtn-danger {
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color: #fe1a00;
    border-radius: 5px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 2px 0px #b23e35;
}

.mybtn-danger:hover {
    background: linear-gradient(to bottom, #FC5846 5%, #D80000 100%);
    background-color: #FC2F19;
    color: white;
    text-decoration: none;
}

.mybtn-danger:active {
    background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color: #ce0100;
    color: white;
    text-decoration: none;
}

.mybtn-danger:focus {
    outline: none;
}

/* @media (max-width: 1085px) {
    .sidebar {
        width: 0px !important;
    }
    #mainContainer {
        margin-left: auto !important;
    }
    #editorRibbon {
        left: 0 !important;
    }
} */

*:not(.ProseMirror-selectednode)::selection {
    background-color: var(--accent-color);
    color: white;
}

option:active {
    outline: none;
    color: greenyellow;
}

option:hover {
    border: none;
}

.menubar-menu-container .menu-item-icon {
    margin: 0px !important;
}

.codeSnippet {
    background-color: #282c34;
    color: #abb2bf;
    padding: 0.5em;
    border: 1px solid #00000030;
    border-radius: 5px;
    font-family: SFMono-Regular, Consolas, 'Fira-Mono', monospace;
    min-height: 40px;
    /*cursor: pointer;*/
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: var(--code-white-space);
    font-size: 14px;
    line-height: 1.5;
    position: static;
}

.codeSnippet.collapsed {
    max-height: 105px;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -37px 36px -42px inset;
}

.codeSnippet .snippetCollapser {
    display: none;
}

.codeSnippet:hover .snippetCollapser {
    display: inline;
}

.snippetCollapser {
    position: absolute;
    right: 16px;
    padding: 2px 8px;
    /*background-color: rgba(0, 0, 0, 0.05);*/
    border-radius: 5px;
    cursor: pointer;
    background-color: inherit;
    filter: brightness(var(--code-overlay-bg-brightness));
}

.snippetCollapser:hover {
    background-color: rgba(0, 0, 0, 0.15);;
}

.inline-code {
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px !important;
    padding-bottom: 4px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    border: 1px solid #00000030;
    border-radius: 4px;
    font-family: SFMono-Regular, Consolas, 'Fira-Mono', monospace;
    word-wrap: break-word;
    display: inline !important;
    background: white;
    color: #333333;
}

/*.codeSnippet:focus {
  cursor: auto;
  outline: none;
  border: 1px solid var(--accent-color);
}*/

table, th, td {
    border: 1px solid #C9C9C9;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #EDEDED;
}

tr:nth-child(odd) {
    background-color: #F8F9FA;
}

#sidebarMenu {
    font-size: 13px;
}

a.nav-link:hover {
    background-color: #E4E8EC;
    transition: 0.1s background-color;
}

.ProseMirror-focused {
    outline: none;
}

.ProseMirror {
    background-color: #f8f9fa;
}

.notebook-title {
    width: 203px;
    max-width: 203px;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.page {
    padding-right: 0px;
}

.nav-link.active .feather {
    color: white !important;
}

.page-title {
    width: 183px;
    max-width: 183px;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.page-title-favorite {
    width: 183px;
    max-width: 183px;
}

#saveIndicator {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #ded;
    border-radius: 4px;
    border: 1px solid #B1D8B1;
    padding: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
    z-index: 1002;
}

#saveIndicatorTitle {
    color: #212529;
}

.ProseMirror-selectednode {
    outline: 2px solid var(--accent-color);
}

.context-menu-glyph {
    margin-right: 10px;
}

.favoritePageBox {
    width: 170px;
    background-color: #f8f9fa;
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin: 20px;
    color: #212529;
    cursor: pointer;
    height: 63px;
}

.favoritePageBox:hover {
    background-color: #E4E8EC;
}

.favoritePageBox:active {
    background-color: #CFD6DD;
}

.titlebar {
    z-index: 1030 !important;
}

.settingTitle {
    font-weight: 500;
    margin-bottom: 20px;
}

.pm-align--left {
    text-align: left;
}

.pm-align--right {
    text-align: right;
}

.pm-align--center {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
}

label {
    font-weight: 400;
}

.favoriteBtn {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: #f8f9fa;
    font-size: 16px;
    width: 100px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    transition: 0.1s background-color;
    display: inline-block;
}

.favoriteBtn:hover {
    background-color: #E4E8EC;
    cursor: pointer;
}

.favoriteBtn:active {
    box-shadow: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: #CFD6DD;
}

::marker {
    font-weight: 600;
}

.form-group {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
}

*:not(.codeSnippet)::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #F2F4F6;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #D1D7DE;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #AFB9C5;
}

.codeSnippet::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.codeSnippet::-webkit-scrollbar-track {
    background-color: transparent;
}

.codeSnippet::-webkit-scrollbar-thumb {
    background-color: rgba(var(--code-scrollbar-color), var(--code-scrollbar-color), var(--code-scrollbar-color), var(--code-scrollbar-opacity));
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.codeSnippet::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--code-scrollbar-color), var(--code-scrollbar-color), var(--code-scrollbar-color), calc(var(--code-scrollbar-opacity) + 0.2));
}

.sidebar-sticky::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.sidebar-sticky::-webkit-scrollbar {
    width: 12px;
}

.sidebar-sticky::-webkit-scrollbar-track {
    background-color: #F8F9FA;
}

button:focus {
    outline: none !important;
}

:focus {
    outline: none !important;
}

.caret {
    display: inline-block;
    margin-left: 3px;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    vertical-align: 2px;
}

.nav-link .caret {
    transition: 0.2s;
}

.nav-link[aria-expanded="true"] .caret {
    /*transform: rotate(-90deg) translateY(1px);*/
    transform: rotate(-180deg);
}

#sidebarToggler {
    position: absolute;
    left: calc(var(--sidebar-width) + 10px);
    bottom: 10px;
    width: 35px;
    height: 35px;
    color: #596B7D;
    /*transform: rotateY(0deg);
    transition: transform 0.3s ease-out;*/
    transform: rotate(0deg);
    transition: transform 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    cursor: pointer;
    z-index: 110;
    border-radius: 4px;
    background-color: #FFFFFF;
}

#sidebarToggler:hover {
    color: #0F1215;
    background-color: #EEF0F3;
}

#sidebarToggler:active {
    background-color: #D9DDE4;
}

#sidebarToggler[flipped="true"] {
    /*transform: rotateY(180deg);*/
    transform: rotate(180deg);
}

#sidebarResizer {
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--sidebar-width) - 1px);
    cursor: col-resize;
    background-color: rgba(0, 0, 0, 0.12);
    z-index: 100;
}

.download-header {
    background: rgb(147, 80, 147);
    background: -moz-linear-gradient(36deg, rgba(147, 80, 147, 1) 10%, rgba(255, 122, 39, 1) 50%, rgba(255, 80, 39, 1) 90%);
    background: -webkit-linear-gradient(36deg, rgba(147, 80, 147, 1) 10%, rgba(255, 122, 39, 1) 50%, rgba(255, 80, 39, 1) 90%);
    background: linear-gradient(36deg, rgba(147, 80, 147, 1) 10%, rgba(255, 122, 39, 1) 50%, rgba(255, 80, 39, 1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#935093", endColorstr="#ff5027", GradientType=1);
}

.favoriteBlock {
    padding: 16px;
    border-radius: 5px;
    background-color: #F8F9FA;
    /* transition: background-color 0.1s linear; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    /* width: 600px; */
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.favoriteBlock:hover {
    background-color: #EEF0F3;
}

.favoriteBlock:active {
    background-color: #D9DDE4;
}

.fakeFavoriteBlock {
    padding: 16px;
    border-radius: 5px;
    border: 2px dotted #B2B2B2;
    color: #B2B2B2; 
    height: 68px;
    display: flex;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

#updateBlock {
    background-color: #BDE3C6;
    border-top: 1px solid #90D19F;
    border-bottom: 1px solid #90D19F;
}

#updateBlock:hover {
    background-color: #90D19F;
    border-top: 1px solid #79C78C;
    border-bottom: 1px solid #79C78C;
}

#updateBlock:active {
    background-color: #79C78C;
}

a.action-menu-item {
    cursor: pointer;
}

math-inline .math-render {
    font-size: 0.95em;
}

.katex {
    font-size: 1.25em;
}

math-inline .math-src .ProseMirror {
    padding: 0px 2px;
    background-color: #E4E8EC;
    display: inline-block;
}

math-inline .math-src::after, math-inline .math-src::before {
    background-color: #E4E8EC;
    color: #687D92;
    padding: 0px 2px;
}

math-display .math-src::after, math-display .math-src::before {
    background-color: #E4E8EC;
    color: #687D92;
}

math-display.ProseMirror-selectednode {
    background-color: #E4E8EC;
}

math-display .math-src .ProseMirror {
    background-color: #E4E8EC;
}

.key-symbol {
    font-size: 14px;
    font-weight: 600;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    border: 1px solid #00000030;
    border-radius: 4px;
    word-wrap: break-word;
    display: inline !important;
    background: white;
    color: #333333;
    box-shadow: 0px 2px 0px 0px #b5b4b4;
}