.outer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(var(--sidebar-width) - 2px);
    width: 4px;
    cursor: col-resize;

    @mixin hover {
        background-color: var(--mantine-color-gray-3);
    }
}

.outer:active {
    background-color: var(--mantine-color-gray-4);
}

.inner {
    width: 2px;
    position: absolute;
    left: 1px;
    height: 100%;
}
