.item {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    user-select: none;
    background-color: inherit;
    color: light-dark(black, white);
    transition: background-color 0.1s;
    cursor: pointer;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    }
}

.itemActive {
    background-color: var(--accent-color);
    color: var(--accent-text-color) !important;

    @mixin hover {
        /* background-color: light-dark(
            var(--accent-color-dark) !important,
            var(--accent-color-light) !important
        ); */
        background-color: var(--accent-color) !important;
    }
}

.caret {
    display: inline-block;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    vertical-align: 2px;
    transition: transform 0.2s;
    margin-left: auto;
}

.caretOpen {
    transform: rotate(-180deg);
}

.dragAbove {
    border-top: 1px solid blue;
}

.dragBelow {
    border-bottom: 1px solid red;
}

.dragChild {
    border-top: 1px solid green;
    border-right: 2px solid green;
    border-bottom: 1px solid green;
}
