:root {
    --accent-color: #ff7926;
    --accent-color-light: #ff9452;
    --accent-color-dark: #eb5a00;
    --accent-text-color: white;
    --code-block-word-wrap: pre !important;
    --code-block-word-break: inherit;
    --table-border-color: #d0d7de;
    --table-bg-color: #f6f8fa;
}

.hljs {
    border-radius: var(--mantine-radius-sm);
    border: 1px solid light-dark(#00000015, #ffffff30);
}
