:root {
    --sidebar-width: 300px;
    --titlebar-height: 30px;
}

#root {
    contain: layout;
}

.container-after-titlebar {
    position: fixed !important;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--sidebar-width);
    overflow: auto;

    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    box-shadow: rgba(0, 0, 0, 0.07) 2px 4px 7px;
    border-right: 0.0625rem solid
        light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));
}

#sidebar-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /* Width is set by useElementSize() */
    contain: layout;
    pointer-events: none;
    z-index: var(--mantine-z-index-popover);
}

#main {
    margin-left: var(--sidebar-width);
    height: 100dvh;
    overflow: auto;
}

#main-overlay {
    margin-left: var(--sidebar-width);
    height: 100dvh;
    /* Width is set by useElementSize() */
    position: fixed;
    contain: layout;
    pointer-events: none;
    z-index: var(--mantine-z-index-popover);
}

/* Custom titlebar sizing fixes */
.container-after-titlebar #main,
.container-after-titlebar #main-overlay {
    height: calc(100dvh - var(--titlebar-height));
}
