:root {
    --sidebar-width: 300px;
    --titlebar-height: 30px;
}

#root {
    contain: layout;
}

.container-after-titlebar {
    position: fixed !important;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--sidebar-width);
    overflow: auto;

    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);

    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-9));
    box-shadow: rgba(0, 0, 0, 0.07) 2px 4px 7px;
    border-right: 0.0625rem solid rgb(233, 236, 239);
}

#main {
    background-color: var(--mantine-color-white);
    margin-left: var(--sidebar-width);
    height: 100dvh;
    overflow: auto;
    padding: var(--mantine-spacing-md);
}

/* Custom titlebar sizing fixes */
.container-after-titlebar #main {
    height: calc(100dvh - var(--titlebar-height));
}
