.icon {
    @mixin dark {
        filter: drop-shadow(1px 1px 1px #00000060);
    }
}

.rainbow {
    animation: colorRotate 7s linear 0s infinite;
    stroke: #00000060;
    stroke-width: 0.3;
}

@keyframes colorRotate {
    from {
        color: #6666ff;
        fill: #6666ff;
    }
    10% {
        color: #0099ff;
        fill: #0099ff;
    }
    50% {
        color: #13e613;
        fill: #13e613;
    }
    75% {
        color: #ff3399;
        fill: #ff3399;
    }
    100% {
        color: #6666ff;
        fill: #6666ff;
    }
}
