#fake-editor {
    display: none;

    .ProseMirror {
        pre {
            code {
                white-space: pre-wrap !important;
                word-break: break-all !important;
            }
        }
    }
}

@media print {
    #root,
    .titlebar,
    #notifications-container {
        display: none !important;
    }
    #fake-editor {
        display: block;
        width: 720px !important;
    }
}

.ProseMirror:focus-visible {
    outline: none;
}

.ProseMirror {
    > * + * {
        margin-top: 0.75em;
    }

    p.is-editor-empty:first-child::before {
        color: #adb5bd;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    a.ctrl {
        cursor: pointer;
    }

    ul,
    ol {
        padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
    }

    pre {
        font-family: "JetBrainsMono", monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        overflow-x: auto;
        display: flex;

        code {
            color: inherit;
            padding: 0;
            background: none;
            font-size: 0.8rem;
            tab-size: 4;
            white-space: pre !important;
        }

        &[data-collapsed="true"] {
            max-height: 100px;
            overflow-y: hidden;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0d0d0d, 0.1);
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0d0d0d, 0.1);
        margin: 2rem 0;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;

        td,
        th {
            border: 1px solid var(--table-border-color);
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 13px;
            position: relative;
            vertical-align: top;

            > * {
                margin-bottom: 0;
                margin-top: 0;
            }
        }

        th {
            font-weight: 600;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: var(--table-bg-color);
        }

        .selectedCell:after {
            background: rgba(200, 200, 255, 0.4);
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: #adf;
            cursor: col-resize;
            bottom: -2px;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }
}

ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;

        > label {
            flex: 0 0 auto;
            margin-right: 0.5rem;
            user-select: none;
        }

        > div {
            flex: 1 1 auto;
        }
    }

    input[type="checkbox"] {
        cursor: pointer;
    }
}

.code-collapser {
    display: none;
    position: absolute;
    right: 16px;
}

.code-language {
    position: absolute;
    right: 16px;
    font-size: 13px;
    background-color: inherit;
    opacity: 0.75;
    font-family: ui-monospace, Consolas, "Cascadia Code", "Source Code Pro", Menlo,
        "DejaVu Sans Mono", monospace;
}

.ProseMirror pre:hover .code-collapser {
    display: inline;
}
