name: typecheck

on:
    pull_request:
        branches: ["master"]

jobs:
    typecheck:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Install pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: 9

            - name: Install node
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Run ESLint
              run: pnpm run typecheck
